<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnString" connectionString="Data Source=114.215.88.249;Initial Catalog=TELDCSMP;User ID=sa;Password=aaaaaa"/>
  </connectionStrings>
  <appSettings>
    <add key="DAL" value="HRSqlServer.DAL"/>
  </appSettings>
</configuration>