<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnString" connectionString="Data Source=T-BJ-DEV.chinacloudapp.cn;Initial Catalog=TELDBOSS;User ID=sa;Password=Teld@teld.cn"/>
    <!--<add name="ConnString" connectionString="Data Source=.;Initial Catalog=TELDCSMP;User ID=sa;Password=1111"/>-->
  </connectionStrings>
  <appSettings>
    <add key="DAL" value="HRSqlServer.DAL"/>
  </appSettings>
</configuration>