<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnString" connectionString="Data Source=dev-bj-dev.chinacloudapp.cn;Initial Catalog=TELDBASE;User ID=sa;Password=Teld@teld.cn"/>
  </connectionStrings>
  <appSettings>
    <add key="DAL" value="HRSqlServer.DAL"/>
  </appSettings>
</configuration>